/* ------------ */
/* STYLE RESETS */
/* ------------ */

*,
*::before,
*::after {
    box-sizing: border-box;
}

select {
    /* A reset of styles, including removing the default dropdown arrow */
    appearance: none;
    /* Additional resets for further consistency */
    background: none;
    font: inherit;
    color: inherit;

    cursor: pointer;
}

button {
    /* A reset of styles, including removing the default dropdown arrow */
    appearance: none;
    /* Additional resets for further consistency */
    background: none;
    font: inherit;
    color: inherit;
    padding: 0;

    cursor: pointer;
}

/* ---------------------------- */
/* COLOR AND SPACING PROPERTIES */
/* ---------------------------- */
:root {
    --background: #e8e8e8;
    --background-accent: #d8d8d8;
    --text: #484848;
    --text-accent: #686868;
    --shadow: #a8a8a8;

    --unit: clamp(3.2px, 1vw, 12px);
    --space: calc(.4rem + 2 * var(--unit));
}


html {
    font-family: Avenir, sans-serif;
    background-color: var(--background-accent);
    color: var(--text);
    font-size: 16px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: calc(.5 * var(--space));
}

.container {
    width: 100%;
    max-width: 75rem;
    min-width: calc(20rem - var(--space));
    padding: var(--space);
    border-radius: .5em;
    background-color: var(--background);
    box-shadow: 1px 1px 8px var(--shadow);
}

.banner {
    padding: var(--space);
    margin-block-end: var(--space);

    background-color: var(--background-accent);
    border-radius: .5em;
    box-shadow: 1px 1px 4px -1px var(--shadow);
}

h1 {
    font-size: calc(1.5rem + var(--unit));
    text-align: center;
    margin-block: 0;
}

.info {
    width: 45rem;
    max-width: 100%;

    padding: var(--space);
    margin-block-end: var(--space);
    margin-inline: auto;

    background-color: var(--background-accent);
    border-radius: .5em;
    box-shadow: 1px 1px 4px -1px var(--shadow);
}

.info-heading {
    font-size: 1.2rem;
    margin-block: 0 .5rem;
}

.info-ul {
    margin-block: 0;
}

.item {
    display: grid;
    gap: 1em;
    align-items: center;

    margin-block-end: var(--space);
}

.item:last-child {
    margin-block-end: 0;
}

.cols {
    grid-template-columns: minmax(10ch, 18ch) minmax(15ch, auto);
    grid-template-areas: "label select";
}

label {
    font-weight: bold;
}

.cols label {
    text-align: right;
}

.select {
    width: 100%;
    border: 2px solid var(--text-accent);
    border-radius: .5em;
    padding: .5em;

    /* Stack above custom arrow */
    z-index: 1;
}

.select-arrow {
    width: 0.8em;
    height: 0.5em;
    background-color: var(--text-accent);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    justify-self: right;
    margin-right: 1em;
}

.select,
.select-arrow {
    grid-area: select;
}

.form-text {
    width: 100%;
    padding: .5em;
}

#color-templates {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15ch, 1fr));
    gap: .2em;
}

.color {
    width: 100%;
    height: 1.5em;
    border: 1px solid var(--color, var(--text-accent));
    border-radius: 100vw;
    background-color: var(--color, transparent);

    box-shadow: 1px 1px 4px -1px var(--shadow);
}

.color-template {
    height: 2em;
}

.light {
    color: var(--background-accent);
    text-shadow: 1px 1px 2px var(--text-accent);
}

.dark {
    text-shadow: 1px 1px 2px var(--background-accent);
}

#yarn-colors {
    display: grid;
    grid-template-rows: repeat(5, auto);
    gap: .2em;
}

.focus {
    outline: auto;
}

.color-part[data-row="0"] {
    grid-row: 1 / 1;
}

.color-part[data-row="1"] {
    grid-row: 2 / 2;
}

.color-part[data-row="2"] {
    grid-row: 3 / 3;
}

.color-part[data-row="3"] {
    grid-row: 4 / 4;
}

.color-part[data-row="4"] {
    grid-row: 5 / 5;
}

.download-link-wrapper {
    width: fit-content;
    justify-self: right;
}

.download-link {
    text-decoration: none;
    color: var(--text);

    border: 2px solid var(--text-accent);
    border-radius: .5em;

    padding: .5em;
    display: inline-block;
}